<div class="cont-form">
  <form class="form-config">
    <div class="cont-input">
      <label for="level" class="label">Dificult:</label>
      <select  class="form-select" id="level">
        <option value="1" selected>(3 x 3) Easy</option>
        <option value="2">(4 x 4) Normal</option>
        <option value="3">(5 x 5) Hard</option>
      </select>
    </div>
    <div class="cont-input">
      <label for="type" class="label">Type of board:</label>
      <select class="form-select" id="type">
        <option value="1" selected>Classic mode</option>
        <option value="2">Variant mode</option>
      </select>
    </div>
    <button type="button" class="btn btn-outline-success">Start</button>
  </form>
</div>
