<div class="cont-form">
  <form class="form-config" [formGroup]="configForm" (ngSubmit)="startGame()">
    <div class="cont-input">
      <label for="level" class="label">Dificult:</label>
      <select  class="form-select" id="level" formControlName="level">
        <option value="3" [selected]="true">(3 x 3) Easy</option>
        <option value="4">(4 x 4) Normal</option>
        <option value="5">(5 x 5) Hard</option>
      </select>
    </div>
    <div class="cont-input">
      <label for="type" class="label">Type of board:</label>
      <select class="form-select" id="type" formControlName="type">
        <option value="1" [selected]="true">Classic mode</option>
        <option value="2">Variant mode</option>
      </select>
    </div>
    <input type="submit" class="btn btn-outline-success" value="Start">
  </form>
</div>
