.cont-tablero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #666;
  height: 80vh;
}
.tablero {
  display: grid;
  grid-template-columns: repeat(var(--largo), 150px);
  grid-template-rows: repeat(var(--largo), 150px);
  gap: 5px;

  padding: 5px;
  border: 10px dashed rgb(0 0 0 / 30%);
}
.celda {
  border: 1px solid #666;
  text-align: center;

  &.encendida {
    background-color: #02e928;
  }
  &.encendida:hover {
    background-color: #358003;
  }
  &.apagada {
    background-color: #215002;
  }
  &.apagada:hover {
    background-color: #49aa08;
  }
}
