<header>
  <h1>Lights Out con Angular</h1>
  <p>Juego hecho por Lautaro Moreno en Angular 18</p>
</header>
<div class="cont-form">
  <form>
    <label for="nivel">Nivel de dificultad: </label>
    <select name="nivel" id="nivel">
      <option value="3">3 x 3</option>
      <option value="4">4 x 4</option>
      <option value="5">5 x 5</option>
      <option value="7">7 x 7</option>
    </select>
    <br>
    <label for="modalidad">Modalidad de juego</label>
    <select name="modalidad" id="modalidad">
      <option value="1">Variada</option>
      <option value="2">Clásica</option>
    </select>
  </form>
</div>
<app-tablero [largoTablero]="3" [modalidad]="2" (juegoFinalizado)="leerEstadoJuego($event)"/>

<footer>
  @if (this.juegoFinalizado === true) {
    <p>¡¡¡ Felicidades, ganaste !!!</p>
  } @else {
    <p>¡¡ Ánimo !!</p>
   }
</footer>